cef_data/ChromeDWriteFontCache
cef_data/Visited Links
cef_data/Cookies
cef_data/data_1
cef_data/data_2
cef_data/Local Storage/file__0.localstorage
state.json
cef_data/index
cef_data/data_3
/extensions
/cef_data
/live-dev-profile